<div class="dashboard-wrapper">
  <div class="page-overlay"></div>
  <aside class="sidebar d-none d-md-block">
    <div class="text-center pb-30 pt-15"><img src="../../../../assets/img/logo.png" alt=""></div>
    <app-sidebar [subSectionName]="'demo'"></app-sidebar>
  </aside>
  <!-- header bar start  -->
  <header class="header d-none d-md-block">
    <div class="row">
      <div class="col-auto me-auto">
        <h1 class="page__title"><i class="icon-home"></i> Dashboard</h1>
      </div>
      <div class="col-auto">
        <div class="btn-group">
          <div class="user-drop">
            <a type="button" class="" data-bs-toggle="dropdown" aria-expanded="false">
              <span> {{userData.firstName}} {{userData.lastName}}</span>
              <div class="avtar" [style]="'background-image: url(' + userData.profilePic + ')'"></div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end user-dropdown shadow-sm border">
              <li><a href="#"> <i class="icon-settings"></i> Setting</a></li>
              <li><a href="#"> <i class="icon-sun"></i> Subscription</a></li>
              <li><a href="#"> <i class="icon-star"></i> Transactions</a></li>
              <li><a href="#"> <i class="icon-unlock"></i> Password</a></li>
              <li (click)="logout()"><a href="#"> <i class="icon-power"></i> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <header class="offcanvas-menu d-block d-md-none mobile-header">
    <input type="checkbox" id="toogle-menu" />
    <label for="toogle-menu" class="toogle-open"><span></span></label>
    <nav class="shadow">
      <div class="tp-header">
        <h4 class="menu__header">Menu</h4>
        <a href="#"> <i class="fab fa-css3-alt"></i> </a>
        <label for="toogle-menu" class="toogle-close">
          <i class="icon-x"></i>
        </label>
        <div class="clearfix"></div>
      </div>
      <app-sidebar [subSectionName]="'demo2'"></app-sidebar>    
    </nav>
    <div class="logo">
      <img src="../../../../assets/img/logo-mb.png" alt="">
    </div>
    <div class="d-flex user">
      <div class="btn-group">
        <div class="user-drop">
          <a type="button" class="" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="avtar" style="background-image: url(../../../../assets/img/team-13.png);"></div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end user-dropdown shadow-sm border">
            <li><a href="#"> <i class="icon-settings"></i> Setting</a></li>
            <li><a href="#"> <i class="icon-sun"></i> Subscription</a></li>
            <li><a href="#"> <i class="icon-star"></i> Transactions</a></li>
            <li><a href="#"> <i class="icon-unlock"></i> Password</a></li>
            <li><a href="#"> <i class="icon-power"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- header bar end  -->
  <!-- Main section start here -->
  <section class="main-section">
    <div class="d-block d-md-none page__header">
      <h1 class="mobilepage__title"><i class="icon-home"></i> Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-6 col-lg-6 col-md-12 col-sm-6 col-xl-3">
        <div class="inner-card dashboardtile shadow-sm border ">
          <div class="tilegraph">
            <div class="widget one">
              <div class="row">
                <div class="col-md-8 order-sm-first order-last">
                  <div class="widget-left">
                    <h3>{{dashboardData.totalStudents}}</h3>
                    <p>Total Students</p>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <i class="icon-users icon-1"></i>
                </div>
              </div>
              <div class="clearfix"></div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-12 col-sm-6 col-xl-3">
        <div class="inner-card dashboardtile shadow-sm border">
          <div class="tilegraph">
            <div class="widget two">
              <div class="row">
                <div class="col-sm-8 order-sm-first order-last">
                  <div class="widget-left">
                    <h3>{{dashboardData.totalStaff}}</h3>
                    <p>Total Staff</p>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <i class="icon-user-check icon-2"></i>
                </div>
              </div>
              <div class="clearfix"></div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-12 col-sm-6 col-xl-3">
        <div class="inner-card dashboardtile shadow-sm border">
          <div class="tilegraph">
            <div class="widget three">
              <div class="row">
                <div class="col-sm-8 order-sm-first order-last">
                  <div class="widget-left">
                    <h3>{{dashboardData.totalSection}}</h3>
                    <p>Total Section</p>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <i class="icon-layers icon-3"></i>
                </div>
              </div>
              <div class="clearfix"></div>  
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-md-12 col-sm-6 col-xl-3">
        <div class="inner-card dashboardtile shadow-sm border" >
          <div class="tilegraph">
            <div class="widget four">
              <div class="row">
                <div class="col-sm-8 order-sm-first order-last">
                  <div class="widget-left">
                    <h3>{{dashboardData.cancelled}}</h3>
                    <p>Cancelled</p>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <i class="icon-trending-down icon-4"></i>
                </div>
              </div>
              <div class="clearfix"></div>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="inner-card shadow-sm border p-4">
          <h2 class="pb-20">Students Attendance</h2>
          <div class="pb-4">
            <app-apexcharts [series]="areaChart.series" [chart]="areaChart.chart" [title]="areaChart.title" [xaxis]="areaChart.xaxis"
            [stroke]="areaChart.stroke" [dataLabels]="areaChart.dataLabels" [tooltip]="areaChart.tooltip"></app-apexcharts>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <h3>Today's Attendance</h3>
              <div class="row">
                <ng-container *ngFor="let value of attentanceData">
                  <div class="col-4">
                    <app-attendance [attendance]="value?.attentance" [color]="value?.color" [title]="value?.title"></app-attendance>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-xl-6">
              <h3 class="mb-3"></h3>
              <app-table [tableData]="absentStudentsData" [tableHeading]="'Absent from 3 days'"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-30">
      <div class="col-12">
        <div class="inner-card shadow-sm border p-4">
          <h2 class="pb-20">Staff Attendance</h2>
          <div class="pb-4">
            <app-apexcharts [series]="areaChart.series" [chart]="areaChart.chart" [title]="areaChart.title" [xaxis]="areaChart.xaxis"
            [stroke]="areaChart.stroke" [dataLabels]="areaChart.dataLabels" [tooltip]="areaChart.tooltip"></app-apexcharts>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <h3>Today's Attendance</h3>
              <div class="row">
                <ng-container *ngFor="let value of attentanceData">
                  <div class="col-4">
                    <app-attendance [attendance]="value?.attentance" [color]="value?.color" [title]="value?.title"></app-attendance>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-xl-6">
              <app-table [tableData]="pendingLeavesData" [tableHeading]="'Pending Leaves Requests'"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="row pt-30">
      <app-calendar class="col-xl-6 pb-30" [headerName]="'Events'"></app-calendar>
      <div class="col-xl-6 pb-30">
        <div class="inner-card shadow-sm border p-4">
          <h3 class="mb-3 d-inline">Upcoming Birthdays</h3> 
          <a class="font-size-13px text-center float-end text-decoration-underline" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            See more birthdays
          </a>               
          <div class="clearfix pt-3"></div>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
          </div>
          <div class="upcoming__birthday pt-4">
            <ul class="row">
              <ng-container *ngFor="let studentData of studentsData | slice:0:12">
                <app-birthday class="col-4 col-md-3 col-lg-3 " [studentData]="studentData"></app-birthday>
              </ng-container>
            </ul>                    
            <div class="collapse" id="collapseExample">
              <div>
                <ul class="row">
                  <ng-container *ngFor="let studentData of studentsData">
                    <app-birthday class="col-4 col-md-3 col-lg-3 " [studentData]="studentData"></app-birthday>
                  </ng-container>
                </ul>  
              </div>
            </div>                  
          </div>                
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="inner-card shadow-sm border p-4">
          <h3 class="mb-3">Total Fee Summary</h3>
          <div class="row">
            <div class="col-lg-6" *ngIf="radarChart">
              <app-apexcharts [series]="radarChart.series" [chart]="radarChart.chart" [title]="radarChart.title" [xaxis]="radarChart.xaxis"></app-apexcharts>
            </div>
            <div class="col-lg-6">
              <h3 class="text-center mb-3">Fee Due : {{dueFees}}</h3>
              <app-table [tableData]="feeDueTableData" [tableHeading]="'Previous Fee Summary'" [tableStyle]="'fee'"></app-table>
              <app-table [tableData]="feeDueTableData" [tableHeading]="'Current Fee Summary'" [tableStyle]="'fee'"></app-table>
              <app-table [tableData]="feeDueTableData" [tableHeading]="'Over All Summary'" [tableStyle]="'fee'"></app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer start here -->
  <footer class="footer">
    &copy; 2024 your company | All Rights Reserved
  </footer>
  <!-- Footer end here -->
</div>
