<aside class="sidebar d-none d-md-block">
    <div class="text-center pb-30 pt-15"><img src="../../../../assets/img/logo.png" alt=""></div>
    <div class="scoller">
        <div class="sidebar__menu">
            <ul class="row">
                <li class="col-6 less-right-5px">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#demo"><i class="icon-user"></i>My Account</a>
                </li>                    
                <li class="col-6 less-left-5px">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#demo"><i class="icon-airplay"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#demo"><i class="icon-server"></i>Registration</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-box"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-cast"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-trending-up"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-command"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-crosshair"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-folder-plus"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-gift"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-layers"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-pocket"></i>Admission Enquires</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-zap"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-settings"></i>Account Settings</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-wind"></i>My Account</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a  data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="icon-pen-tool"></i>Account Settings</a>
                </li>
            </ul>
        </div>      
    </div>
</aside>

<!-- Submenu Start-->
<div class="offcanvas offcanvas-start" id="demo" >
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">My Account</h1>
        <a class="btn__close" data-bs-dismiss="offcanvas"> <i class="icon-x"></i> </a>
    </div>
    <div class="offcanvas-body p-1">
        <div class="sidebar__menu">
            <ul class="row">
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-cast"></i>Sub Menu 1</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-trending-up"></i>Sub Menu 2</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-command"></i>Sub Menu 3</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-crosshair"></i>Sub Menu 4</a>
                </li>
                <li class="col-6 less-right-5px">
                    <a href="#"><i class="icon-folder-plus"></i>Sub Menu 1</a>
                </li>
                <li class="col-6 less-left-5px">
                    <a href="#"><i class="icon-airplay"></i>Sub Menu 3</a>
                </li>                
            </ul>
        </div>
    </div>
</div> 
<!-- Submenu Start-->